@font-face {
  font-family: "Assistant-Regular";
  src: url("../../assets/fonts/Assistant/Assistant-Regular.ttf");
}

@font-face {
  font-family: "Assistant-ExtraBold";
  src: url("../../assets/fonts/Assistant/Assistant-ExtraBold.ttf");
}

@font-face {
  font-family: "Assistant-Bold";
  src: url("../../assets/fonts/Assistant/Assistant-Bold.ttf");
}

@font-face {
  font-family: "Assistant-SemiBold";
  src: url("../../assets/fonts/Assistant/Assistant-SemiBold.ttf");
}