// COLOR PALETTE

$clr1: #3A61A0;
$clr2: #45516D;
$clr3: #6172B7;
$clr4: #9DA4BC;
$clr5: #9A9B9C;
$clr6: #7FB457;
$clr7: #E66349;
$clr8: #FFFFFF;

// LAYOUT BREAKPOINTS

$break-narrow: 376px;
$break-normal: 768px;
$break-wide: 1024px;


